<div class="graphic-description">
  <ul>
    <li>
      {{"patented-technology.svg" |asset_url | img_tag: "phone-icon-by-Roselin-Christina.S","phone"}}
      <br>
      <span>Patented Technology</span>
    </li>
  </ul>
  <ul>
   <li>
      {{"extensive-testing.svg" |asset_url | img_tag: "phone-icon-by-Roselin-Christina.S","phone"}}
     <br>
     <span>Extensive Testing</span>
    </li>
  </ul>
  <ul>
    <li>
      {{"green-initiatives.svg" |asset_url | img_tag: "phone-icon-by-Roselin-Christina.S","phone"}}
      <br>
      <span>Green Initiatives</span>
    </li>
  </ul>
</div>