<div class="grid-item header-util medium-down--hide">
  <div class="header-util-left"><span>Local Delivery + 100% Returns</span></div>
  
  <div class="header-util-right">
    <ul>
      <li><a href="https://orderinkfromus.com/pages/about-us">Contact Us</a></li>
      <li><a href="https://orderinkfromus.com/pages/track-your-shipment">Track your shipment</a></li>
      <li><a href="/cart" class="cart-toggle">Cart</a></li>
    </ul>
  </div>          
</div>