<div class="header-message-div">
  <ul>
<!--     <li><span>
      <a href="https://orderinkfromus.com/pages/need-a-quote" title="click to call">
        {{"business-quote-icon.png" |asset_url | img_tag: "phone-icon-by-Roselin-Christina.S","phone"}}
        </span><span>{{settings.header_message_2}}</span></a>
    </li> -->
    <li>
       	 <a href="tel:800-780-0048" title="click to call">{{"phone-icon.svg" |asset_url | img_tag: "phone-icon-by-Roselin-Christina.S","phone"}}
           <span>{{settings.header_message_3}}</span></a>
    </li>
  </ul>
</div>